
.box{
    display:inline-block;
    height:300px;
    width: 32%;
    background-color: rgb(223, 94, 75);
}
#box1{
    border-width: 4px;
    border-style: dashed;
    border-color: beige;
    background-repeat: no-repeat;

}
#box2{
    border-width: 4px;
    border-style: dotted;
    border-color:black;
}
#box3{
    border-width: 4px;
    border-style:groove;
    border-color:rgb(123, 32, 32);
}
